$primary: #E5EEC1;
$secondary: #A2D4AB;
$base: #3EACA8;
$accent: #547A82;
$dark: #5A5050;
$dark-2: #5A5050 * .8;

div {
  scroll-behavior: smooth;
}

.homepage {
    background: linear-gradient($primary 2%,$secondary 25%,$base ,$accent);
    color: $dark-2;
    height: 100vh;
}

.homepage h1 {
  margin-top: 35%;
}

.homepage img {
  width: 20%;
  display: block;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 500px){
  .navbar {
    position: absolute;
    bottom: 2%;
    border-top: 1px solid $secondary;
  }

  .navbar li {
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 4%;
    padding-top: 13px;
    border-top: 4px solid transparent;
    transition: border-top .75s, background-color .75s;
  }

  .navbar li:hover {
    border-top: 4px solid $secondary;
    background-color: $accent;
  }

  .navbar a {
    color: $secondary;
  }
}

@media only screen and (max-width: 499px){
  .navbar{
    display: none;
  }
}

.bioSection {
  background-color: $base;
  color: $dark-2;
}

.projectSection {
  background-color: $accent;
  color: $base;
}

.workSection {
  background-color: $base;
  color: $dark-2;
}

.educationSection {
  background-color: $primary;
  color: $dark;
}
